.join {
    display: flex;
    padding: 0 2rem;
    gap: 10rem;
    flex-direction: row;
}

.left-j {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

.left-j>hr {
    position: absolute;
    width: 10.5rem;
    border: 2px solid var(--orange);
    margin: -10px 0 ;
    border-radius: 5px;
}

.left-j>div {
    display: flex;
    gap: 1rem;
}
.right-j{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.email-container {
    display: flex;
    gap: 3rem;
    background-color: gray;
    padding: 1rem 2rem;
    border-radius: 20px;
}
.email-container>input {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--lightgray);
}

::placeholder {
    color: rgb(246, 7, 7);
    font-size: 1rem;
}

.btn-j {
    background-color: var(--orange);
    color: white;
    border-radius: 5px;
}

@media screen and (max-width:768px) {
    .join {
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }

    .left-j {
        font-size: 1.5rem;
        margin-top: 20rem;
    }

    .email-container {
        margin-top: -8rem;
    }
}